<p-megaMenu [model]="items"></p-megaMenu>
<div class="ui-g">
    <div class="ui-g-4">
      </div>
  <p-card title="Doação de plaquetas">
  <img src="https://4.bp.blogspot.com/-u3Hjch_pO4Y/WL6jyvEeXsI/AAAAAAAAHTA/EDakiRzANXUI84joHzNATWdy44-K1w3DwCLcB/s1600/54cores-doacao-de-plaquetas-beneficios-mitos-como-doar.jpg" alt="logo hemoliga" width=800 height=400>
<p>O sangue é composto de glóbulos vermelhos, glóbulos brancos, plasma e plaquetas. As plaquetas ajudam no controle de sangramentos e parte delas pode ser doada sem causar prejuízo algum à saúde do doador. O processo que permite a separação e a coleta específica de plaquetas chama-se aférese.
   </p><p> O procedimento de coleta de plaquetas por aférese consiste na retirada do sangue total do doador, separação dos componentes por meio de centrifugação, retenção de parte das plaquetas e retorno dos demais componentes do sangue para o doador. Todo o processo dura cerca de 90 minutos.
    </p><p>  A doação de plaquetas pode ser realizada a cada 72 horas, não ultrapassando 24 doações em 12 meses. A reposição das plaquetas pelo organismo é rápida e ocorre em torno de 48 horas. Caso você tenha doado sangue recentemente e queria doar plaquetas é preciso esperar o tempo da doação.
</p><p> Os mesmos requisitos exigidos para doação de sangue também são aplicados para a doação de plaquetas por aférese. Entretanto, é necessário que o doador seja avaliado previamente quanto às condições de acesso venoso necessárias para a realização do procedimento.
</p><p> Os impeditivos definitivos para doação de sangue, são:
</p><p>» Ter hepatite após os 11 anos de idade
</p><p>» Evidência clínica ou laboratorial das seguintes doenças infecciosas transmissíveis pelo sangue: Hepatites B e C, AIDS (vírus HIV), doenças associadas aos vírus HTLV I e II e Doença de Chagas
</p><p>» Uso de drogas ilícitas injetáveis
</p><p>» Malária.
    </p>  
</p-card>
  
  </div>