<div class="ui-g">
    <div class="ui-g-1"></div>
    <div class="ui-g-1"></div>
    <div class="ui-g-1">   
        <p-dataTable [style]="{'width':'900px'}" [value]="requisicaoExames" selectionMode="single" [contextMenu]="cm" [(selection)]="requisicaoSelecionada">
            <p-column field="nomeDoador" header="Nome do Doador"></p-column>
            <p-column field="numeroDeDocumentoDoador" header="Número do documento"></p-column>
            <p-column field="etiquetaDaAmostra" header="Etiqueta da amostra"></p-column>
          </p-dataTable>
</div>
    <div class="ui-g-1"></div>
    <div class="ui-g-1"></div>
    <div class="ui-g-1"></div>
    <div class="ui-g-1"></div>
    <div class="ui-g-1"></div>
    <div class="ui-g-1"></div>
    <div class="ui-g-1"></div>
    <div class="ui-g-1"></div>
    <div class="ui-g-1"></div>
</div>

