<body>

  <p-megaMenu [model]="items"></p-megaMenu>
    

  <div class="ui-g">
      <div class="ui-g-4"></div>
      <div class="ui-g-4">
          <p-autoComplete [(ngModel)]="cpf" placeholder="Buscar por CPF" 
          [suggestions]="results" (completeMethod)="search($event)"> </p-autoComplete> 
          
          <button pButton type="button" label="Buscar por CPF" (click) = "buscarPorCPF()"
        class="ui-button"></button> 
        
      </div>
      <div class="ui-g-4"></div>
    </div>


  <div class="ui-g">
    <div class="ui-g-4"></div>
    <div class="ui-g-4">
      <p-calendar [(ngModel)]="agendamentoDoacao.dataAgendamento" [showIcon]="true"></p-calendar>
    </div>
    <div class="ui-g-4"></div>
  </div>

  
  <div class="ui-g">
    <div class="ui-g-4"></div>
    <div class="ui-g-4">
    </div>
    <div class="ui-g-4"></div>
  </div>



  <div class="ui-g">
    <div class="ui-g-4"></div>
    <div class="ui-g-4">
      <p-button (onClick)="agendarDoacao()" label="Agendar"></p-button>
    </div>
    <div class="ui-g-4"></div>
  </div>

</body>