<body>

  <p-megaMenu [model]="items"></p-megaMenu>
    
  <div class="ui-g">
    <div class="ui-g-4"></div>
    <div class="ui-g-4">
      <p-calendar [(ngModel)]="agendamentoDoacao.dataAgendamento" [showIcon]="true"></p-calendar>
    </div>
    <div class="ui-g-4"></div>
  </div>


  <div class="ui-g">
    <div class="ui-g-4"></div>
    <div class="ui-g-4">
      <p></p>
      <input type="text" placeholder="Nome do Doador" pInputText [(ngModel)]="agendamentoDoacao.nomeDoador" required/>
    </div>
    <div class="ui-g-4"></div>
  </div>


  <div class="ui-g">
    <div class="ui-g-4"></div>
    <div class="ui-g-4">
      <p></p>
      <input type="text" placeholder="Número de Documento" pInputText [(ngModel)]="agendamentoDoacao.numeroDocumentoDoador"
        required/>
    </div>
    <div class="ui-g-4"></div>
  </div>



  <div class="ui-g">
    <div class="ui-g-4"></div>
    <div class="ui-g-4">
      <p-button (onClick)="agendarDoacao()" label="Agendar"></p-button>
    </div>
    <div class="ui-g-4"></div>
  </div>

</body>