<div class="ui-g">
  <div class="ui-g-4">
    <button pButton type="button" label="Voltar" 
    (click) = "voltarPagina()"  class="ui-button-danger"></button>
    </div>
<p-card title="O que acontece com o sangue doado?">
 <p> O sangue é separado em hemocomponentes, como concentrado de hemácias, concentrado de plaquetas e plasma fresco e passa por vários testes laboratoriais para conferir se está adequado para o uso, esses testes são:
</p>  
<p>Tipagem sanguínea, sorologia e NAT (teste do ácido nucleico) para hepatite C e HIV (vírus da Aids);</p>
  <p>Sorologia para hepatite B, doença de Chagas, sífilis, e HTLV.</p>
 <p>Logo após a triagem inicial, depois de comprovados que estão adequados para o uso, o sangue coletado é enviado aos hospitais para ser usado em pacientes que necessitam, como os que enfrentam sangramentos, os que fazem tratamento quimioterápico e em casos de cirurgias e transplantes.
  O plasma que não for utilizado pode ser encaminhado para a Hemobrás, que é uma indústria de produção de medicamentos para pessoas que são portadoras de doenças hemorrágicas.
  </p> 
</p-card>

</div>