<p-megaMenu [model]="items"></p-megaMenu>
<img class= "header" src="assets/images/header.png">

    <div class="panel ui-g-8 ui-g-nopad">
        <div class="ui-g-1"></div>
        <div class="ui-g-6">
            <p class="frase" align="justify">

            </p>
            <p-dialog header="Quem somos?" [(visible)]="display" [width]="350"  >
                    <span>Esse projeto é uma Prática Profissional Orientada (PPO).
                     Orientado por Leonardo Soares e cujas orientandas são Joanne Gabriela e Milena Siqueira.</span>
                     <p-footer>
                        <button class=" botao btn btn-danger" pButton  (click)="display=false" label="Ok!" class="ui-button-secondary">
                        </button>
                    </p-footer>
                </p-dialog>
        </div>
    </div>
    