

<body>
<div class="ui-g">
    <div class="ui-g-1"><p-button (onClick)="voltarPaginaInicial()" label="Voltar"></p-button></div>
    <div class="ui-g-1"></div>
    <div class="ui-g-1">   
        <p-dataTable [style]="{'width':'900px'}" [value]="agendamentoDoacoes" selectionMode="single" [contextMenu]="cm" [(selection)]="agendamentoSelecionado">
            <p-column field="nomeDoador" header="Nome do Doador"></p-column>
            <p-column field="dataAgendamento" header="Data"></p-column>
            <p-column field="numeroDocumentoDoador" header="Número do documento do doador"></p-column>
          </p-dataTable>
</div>
    <div class="ui-g-1"></div>
    <div class="ui-g-1"></div>
    <div class="ui-g-1"></div>
    <div class="ui-g-1"></div>
    <div class="ui-g-1"></div>
    <div class="ui-g-1"></div>
    <div class="ui-g-1"></div>
    <div class="ui-g-1"></div>
    <div class="ui-g-1"></div>
</div>

</body>


