

<body>
    <p-tabMenu [model]="items"></p-tabMenu>
    
    <div class="ui-g">
        <div class="ui-g-1"></div>
        <div class="ui-g-1"></div>
        <div class="ui-g-1">   
            <p-dataTable [style]="{'width':'900px'}" [value]="solicitacoesSanguineas" selectionMode="single" [contextMenu]="cm" [(selection)]="agendamentoSelecionado">
                <p-column field="nomeUsuario" header="Nome do Usuário"></p-column>
                <p-column field="numeroDocumentoDoador" header="Número do Documento"></p-column>
                <p-column field="tipoSanguineo" header="Tipo Sanguíneo"></p-column>
              </p-dataTable>
    </div>
        <div class="ui-g-1"></div>
        <div class="ui-g-1"></div>
        <div class="ui-g-1"></div>
        <div class="ui-g-1"></div>
        <div class="ui-g-1"></div>
        <div class="ui-g-1"></div>
        <div class="ui-g-1"></div>
        <div class="ui-g-1"></div>
        <div class="ui-g-1"></div>
    </div>
    
    </body>
    
    
    