<div class="ui-g">
  <div class="ui-g-4">
    <button pButton type="button" label="Voltar" 
    (click) = "voltarPagina()"  class="ui-button-danger"></button>
    </div>
<p-card title="Janela imunológica">
 <p> A janela imunológica é correspondente ao período que o organismo já está infectado por alguma doença, mas ainda não produz anticorpos suficientes para serem detectados nos testes realizados na triagem sorológica.
  O tempo de incubação varia conforme a doença, sendo assim, mesmo que não apresente os sintomas, você pode ser impedido de doar.
  </p>
</p-card>

</div>