<p-megaMenu [model]="items"></p-megaMenu>
<p></p>

<h3>Cadastro de Técnicos</h3>

<div class="ui-g">
    <div class="ui-g-4"></div>
    <div class="ui-g-4">
        <div class="ui-g">

            <div class="ui-g-4"></div>
            <div class="ui-g-4">
              

                <p></p>
                <input type="text" placeholder="Nome Completo" pInputText [(ngModel)]="tecnico.nome" required/>

                <p></p>
                <input type="text" placeholder="CPF" pInputText [(ngModel)]="tecnico.cpf" required/>
                <p></p>

                <button pButton type="button" label="Enviar dados" [disabled]="!tecnico.nome || !tecnico.cpf" (click)="cadastrarTecnico()"
                    class="ui-button-danger"></button>
            </div>
            <div class="ui-g-4"></div>
        </div>
    </div>
    <div class="ui-g-4"></div>
</div>