<div class="ui-g">
        <div class="ui-g-4">
          <button pButton type="button" label="Voltar" 
          (click) = "voltarPagina()"  class="ui-button-danger"></button>
          </div>
<p-card title="Impedimentos temporários">
<p>» Resfriado: aguardar 7 dias após desaparecimento dos sintomas.</p>
<p>» Gravidez</p>
<p>» 90 dias após parto normal e 180 dias após cesariana.</p>
<p>» Amamentação (se o parto ocorreu há menos de 12 meses).</p>
<p>» Ingestão de bebida alcoólica nas 12 horas que antecedem a doação.</p>
<p>» Tatuagem / maquiagem definitiva nos últimos 12 meses.</p>
<p>» Situações nas quais há maior risco de adquirir doenças sexualmente transmissíveis: aguardar 12 meses.</p>
<p>» Qualquer procedimento endoscópico (endoscopia digestiva alta, colonoscopia, rinoscopia etc): aguardar 6 meses.</p>
<p>» Extração dentária (verificar uso de medicação) ou tratamento de canal (verificar medicação): por 7 dias.</p>
<p>» Cirurgia odontológica com anestesia geral: por 4 semanas.</p>
<p>» Acupuntura: se realizada com material descartável: 24 horas; se realizada com laser ou sementes: apto; se realizada com material sem condições de avaliação: aguardar 12 meses.</p>
<p>» Vacina contra gripe: por 48 horas.</p>
<p>» Herpes labial ou genital: apto após desaparecimento total das lesões.</p>
<p>» Herpes Zoster: apto após 6 meses da cura (vírus Varicella Zoster).</p>
<p>» Brasil: estados como Acre, Amapá, Amazonas, Rondônia, Roraima, Maranhão, Mato Grosso, Pará e Tocantins são locais onde há alta prevalência de malária. Quem esteve nesses estados deve aguardar 12 meses para doar, após o retorno.</p>
<p>» EUA: quem esteve nesse país deve aguardar 30 dias para doar, após o retorno.</p>
<p>» Europa: quem morou na Europa após 1980, verificar aptidão para doação no (11) 4573-7800.</p> 
<p>» Malária: quem esteve em países com alta prevalência de malária deve aguardar 12 meses após o retorno para doar. (critério semelhante ao dos estados brasileiros com prevalência elevada de malária).</p>
<p>» Febre Amarela: quem esteve em região onde há surto da doença deve aguardar 30 dias para doar, após o retorno; se tomou a vacina, deve aguardar 04 semanas; se contraiu a doença, deve aguardar 6 meses após recuperação completa (clínica e laboratorial).</p>
</p-card>
<p-card title="Impedimentos definitivos">
<p>» Hepatite após os 11 anos de idade.</p> 
<p>» Evidência clínica ou laboratorial das seguintes doenças infecciosas transmissíveis pelo sangue: Hepatites B e C, AIDS (vírus HIV), doenças associadas aos vírus HTLV I e II e Doença de Chagas.</p>
<p>» Uso de drogas ilícitas injetáveis.</p>
<p>» Malária.</p>
<p>» Hepatite após o 11º aniversário: Recusa Definitiva; Hepatite B ou C após ou antes dos 10 anos: Recusa definitiva; Hepatite por Medicamento: apto após a cura e avaliado clinicamente; Hepatite viral (A): após os 11 anos de idade, se trouxer o exame do diagnóstico da doença, será avaliado pelo médico da triagem.</p>
</p-card>
</div>