<div class="ui-g">
    <div class="ui-g-4">
      <button pButton type="button" label="Voltar" 
      (click) = "voltarPagina()"  class="ui-button-danger"></button>
      </div>
  <p-card title="Intervalo para doação">
     <p>A frequência de doação quem determina é o doador, por isso nada impede a decisão de doar somente uma vez ao ano ou até mesmo uma vez na vida. Mas, caso você queira se tornar um doador frequente, existe um intervalo que deve ser respeitado:
      </p><p>» Para os homens, o intervalo deve ser de 60 dias, contabilizando 4 doações por ano.
        </p><p>» Para as mulheres, o intervalo é de 90 dias, contabilizando 3 doações por ano.
          </p><p>  A diferença entre homens e mulheres é decorrente da reposição do estoque de ferro ser mais demorado no corpo feminino em virtude dos ciclos menstruais.
        </p>
  </p-card>
  
  </div>