<div class="ui-g">
    <div class="ui-g-4">
      <button pButton type="button" label="Voltar" 
      (click) = "voltarPagina()"  class="ui-button-danger"></button>
      </div>
  <p-card title="O que acontece quando há alterações nos exames laboratoriais?">
  <p> Caso exista alguma alteração nos resultados dos exames, será enviado uma correspondência para a sua residência solicitando que você compareça ao local onde doou sangue para coletar uma nova amostra e receber orientações médicas.
     </p> <p> É importante que você não deixe de comparecer ao local, pois, além de esclarecer quaisquer dúvidas que possa ter, o médico irá te explicar como funcionam os resultados reagentes nos testes e que eles podem existir por vários motivos,  não que necessariamente exista alguma doença.
    </p> 
    </p-card>
  
  </div>