<p-megaMenu [model]="items"></p-megaMenu>
<div class="ui-g">
    <div class="ui-g-4">
      </div>
<p-card title="Volume de sangue coletado nas doações">
    <img src="https://www.lifetothefullest.abbott/content/dam/gmo/anthem2/brasil/blood-donation/blood_semLogo.jpg.transform/anthem-masthead-originalimage/image.jpg"
    alt="doe sangue" width=800 height=400>
    <p></p>
<p>O volume da coleta de sangue é igual para os homens e mulheres e está em torno de 405 a 495 mL.
   </p><p>  Isso não interfere na saúde do ser humano, pois se retira menos que 10% do volume sanguíneo total de um adulto. A quantidade de sangue doado é reposto naturalmente pelo seu organismo.
   </p>
</p-card>

</div>
