<div class="ui-g">
  <div class="ui-g-4">
          <p-megaMenu [model]="items"></p-megaMenu>
    </div>
<p-card title="Não poderá doar se:">
<p>Na triagem de doadores, a Fundação Pró-Sangue obedece a normas nacionais e internacionais, como as do Ministério da Saúde, Associação Americana e Conselho Europeu de Bancos de Sangue. O alto rigor no cumprimento dessas normas visa oferecer segurança e proteção ao receptor e ao doador.
  Estão relacionadas abaixo as principais causas de inaptidão à doação de sangue. Entretanto, esta relação não esgota o assunto. Algumas situações não estão incluídas nesta lista e serão definidas no ato da triagem clínica pela enfermeira ou pelo médico que realizará o seu questionário.
  * O uso de alguns medicamentos impede a doação temporária ou definitivamente. Informe-se pelo Alô Pró-Sangue sobre medicamentos, exames, cirurgias e tratamentos médicos que tenha realizado ou esteja em andamento, e que não esteja na relação abaixo.</p>
   
 <p> Você não poderá doar sangue se:</p>
 <p> » tiver idade inferior a 16 anos ou superior a 69 anos.</p>
 <p>Obs.: o limite superior para a primeira doação é 60 anos. Quem tem 61 anos ou mais e nunca doou está inapto.</p>  
 <p> » tiver peso inferior a 50 kilos.</p>
 <p> » estiver com anemia no teste realizado imediatamente antes da doação.</p>
 <p>» estiver com hipertensão ou hipotensão arterial no momento da doação.</p>
 <p> » estiver com aumento ou diminuição dos batimentos cardíacos no momento da doação.</p>
 <p>» estiver com febre no dia da doação.</p>
 <p> » estiver grávida.</p>
 <p>» estiver amamentando, a menos que o parto tenha ocorrido há mais de 12 meses.</p>
 <p> obs.: o doador não poderá doar se vier acompanhado de crianças menores de 13 anos sem a presença de um outro adulto para cuidar delas.</p>
 

</p-card>
<p-card title="Etará impedido de doar se:">
<p>1. por 48 horas:</p>
<p> » se recebeu vacina preparada com vírus ou bactéria mortos, toxóide ou recombinantes. Ex.: cólera, poliomielite (salk), difteria, tétano, febre tifóide (injetável), meningite, coqueluche, pneumococo.</p>
<p>   » se recebeu vacina contra gripe.</p>
<p>   2. por sete dias:</p>
<p>   » se teve diarréia.</p>
<p>  » após terminarem os sintomas de gripe ou resfriado.</p>
<p>  » após a cura de conjuntivite.</p>
<p>   » extração dentária (verificar uso de mediação).</p>
<p>   » tratamento de canal (verificar medicação).</p>
<p>    3. por duas semanas:</p>
<p>   » após o término do tratamento de infecções bacterianas (uso de antibióticos).</p>
<p>   » após a cura de rubéola.</p>
<p>   » após a cura de erisipela.</p>
<p>   4. por três semanas:</p>
<p>   » após a cura de caxumba.</p>
<p>   » após a cura de varicela (catapora).</p>
<p>   5. por quatro semanas:</p>
<p>   » se recebeu vacina de vírus ou bactérias vivos e atenuados. Ex.: poliomielite oral (sabin), febre tifóide oral, caxumba, febre amarela, sarampo, bcg, rubéola, catapora, varíola etc.</p>
<p>   » se recebeu soro antitetânico.</p>
<p>» após a cura de dengue.</p>
<p>   » cirurgia odontológica com anestesia geral.</p>
<p>   » após o retorno, quem esteve em região onde há surto de Febre Amarela.</p>
<p>   6. por oito semanas (somente para homens):</p>
<p>   » após uma doação de sangue. Esse período deve ser ampliado para 16 semanas se houve doação dupla de hemácias por aférese.</p>
<p>   7. por 12 semanas (somente para mulheres):</p>
<p>   » após uma doação de sangue (para mulheres). Esse período deve ser ampliado para 24 semanas se houve doação dupla de hemácias por aférese.</p>
<p>   » após parto normal ou abortamento.</p>
<p> 8. por três meses (independente se homem ou mulher):</p>
<p> » se foi submetido a apendicectomia.</p>
<p> » se foi submetido a hemorroidectomia.</p>
<p> » se foi submetido a hernioplastia.</p>
<p> » se foi submetido a ressecção de varizes.</p>
<p> » se foi submetido a amigdalectomia.</p>
<p> 9. por seis meses a 01 ano:</p>
<p> » se foi submetido a uma cirurgia de médio ou grande porte como por exemplo: colecistectomia, histerectomia, tireoidectomia, colectomia, esplenectomia pós trauma, nefrectomia etc.</p>
<p>   <p> » após a cura de toxoplasmose comprovada laboratorialmente.</p>
<p> » qualquer procedimento endoscópico (endoscopia digestiva alta, colonoscopia, rinoscopia etc): aguardar 6 meses.</p>
<p> » se fez piercing (se piercing na cavidade oral ou genital, devido ao risco permanente de infecção, implica em inaptidão por 12 meses após a retirada).</p>
<p> » se contraiu Febre Amarela; aguardar 6 meses após recuperação completa (clínica e laboratorial).</p>
<p> 10. por 12 meses:</p>
<p> » se recebeu uma transfusão de sangue, plasma, plaquetas ou hemoderivados.</p>
<p> » se recebeu enxerto de pele.</p>
<p> » se sofreu acidente se contaminando com sangue de outra pessoa.</p>
<p> » se teve acidente com agulha já utilizada por outra pessoa.</p>
<p> » se teve contato sexual com alguma pessoa com aids ou com teste positivo para hiv.</p>
<p> » se teve contato sexual em troca de dinheiro ou de drogas ou seus respectivos parceiros sexuais;</p>
<p> » se teve contato sexual com usuário de droga endovenosa.</p>
<p> » se teve contato sexual com pessoa que tenha recebido transfusão de sangue nos últimos 12 meses.</p>
<p> » se teve relação sexual com pessoa com hepatite.</p>
<p> » se fez tatuagem ou maquiagem definitiva.</p>
<p> » se teve sífilis ou gonorréia.</p>
<p> » se foi detido por mais de 24 horas.</p>
<p>11. por cinco anos:</p>
<p>    » após a cura de tuberculose pulmonar.</p>
<p>    <p>12. você nunca poderá ser doador de sangue se:</p>
<p>  » tem ou teve um teste positivo para hiv.</p>
<p> » teve hepatite após os 10 anos de idade.</p>
<p> » já teve malária.</p>
<p> » tem doença de chagas.</p>
<p> » recebeu enxerto de duramater.</p>
<p> » teve algum tipo de câncer, incluindo leucemia.</p>
<p> » tem graves problemas no pulmão, coração, rins ou fígado.</p>
<p> » tem problema de coagulação de sangue.</p>
<p> » é diabético com complicações vasculares ou em uso de insulina.</p>
<p> » teve tuberculose extra-pulmonar.</p>
<p> » já teve elefantíase.</p>
<p> » já teve hanseníase.</p>
<p> » já teve calazar (leishmaniose visceral).</p>
<p> » já teve brucelose.</p>
<p>   » já teve esquistossomose hepatoesplênica</p>
<p>    » tem alguma doença que gere inimputabilidade jurídica.</p>
<p>    » se foi submetido a transplante de órgãos ou de medula.</p> 

</p-card>
</div>