<body>


  <p-megaMenu [model]="items"></p-megaMenu>


  

  <div class="ui-g">
    <div class="ui-g-4"></div>
    <div class="ui-g-4">
        <i class="fa fa-calendar" aria-hidden="true"></i>
        <p-inputMask mask="99/99/9999" [(ngModel)]="agendamentoDoacao.data" placeholder="Data" slotChar="dd/mm/aaaa"></p-inputMask>
    </div>
    <div class="ui-g-4"></div>
  </div>



  <div class="ui-g">
    <div class="ui-g-4"></div>
    <div class="ui-g-4">
      <p-button (onClick)="agendarDoacao()" [disabled]="!agendamentoDoacao.data" label="Agendar"></p-button>
    </div>
    <div class="ui-g-4"></div>
  </div>

</body>