<body>
    
  <div class="ui-g">
      <div class="ui-g-4"></div>
        <div class="ui-g-4"> <input type="text" pInputText placeholder="O que você procura?"> 
              <button pButton type="button" icon="fa-search" class="ui-button-secondary"></button></div>
          <div class="ui-g-4"></div>
      </div>


<p></p>


<div class="ui-g">
    <div class="ui-g-4"></div>
      <div class="ui-g-4"><p-calendar [(ngModel)]="dataAgendamento" [showIcon]="true"></p-calendar></div>
        <div class="ui-g-4"></div>
    </div>


<div class="ui-g">
    <div class="ui-g-4"></div>
      <div class="ui-g-4"><p></p> <input type="text" placeholder ="Nome do Doador" 
        pInputText [(ngModel)] = "nomeDoador" required/></div>
        <div class="ui-g-4"></div>
    </div>


    <div class="ui-g">
        <div class="ui-g-4"></div>
          <div class="ui-g-4">
            <p></p> <input type="text" placeholder ="Número de Documento" 
              pInputText [(ngModel)] = "numeroDocumento" required/>
            </div>
            <div class="ui-g-4"></div>
        </div>

    
        <div class="ui-g">
            <div class="ui-g-4"></div>
              <div class="ui-g-4"><p-button (onClick)="agendarDoacao()" label="Agendar"></p-button></div>
                <div class="ui-g-4"></div>
            </div>

</body>
   