<body>
    
  <div class="ui-g">
      <div class="ui-g-4"></div>
        <div class="ui-g-4"> <input type="text" pInputText placeholder="O que você procura?"> 
              <button pButton type="button" icon="fa-search" class="ui-button-secondary"></button></div>
          <div class="ui-g-4"></div>
      </div>


<p></p>

<div class="ui-g">
    <div class="ui-g-1"></div>
    <div class="ui-g-1"></div>
    <div class="ui-g-1"></div>
    <div class="ui-g-1"></div>
    <div class="ui-g-1"><p-calendar [(ngModel)]="date3" [showIcon]="true"></p-calendar></div>
    <div class="ui-g-1"></div>
    <div class="ui-g-1"></div>
    <div class="ui-g-1"><p-button (onClick)="agendarDoacao()" label="Agendar"></p-button></div>
    <div class="ui-g-1"></div>
    <div class="ui-g-1"></div>
    <div class="ui-g-1"></div>
    <div class="ui-g-1"></div>
</div>
         

<p-dataTable [value]="cars" [loading]="loading">
    <p-column field="vin" header="Nome do Doador"></p-column>
    <p-column field="year" header="Data escolhida"></p-column>
</p-dataTable>


<p-dataTable [value]="cars">
    <p-column *ngFor="let col of cols" [field]="col.field" [header]="col.header"></p-column>
</p-dataTable>  






</body>
   