<p-megaMenu [model]="items"></p-megaMenu>

<div class="ui-g">
  <div class="ui-g-1"></div>
  <div class="ui-g-1"></div>
  <div class="ui-g-1">
    <p-table [style]="{'width':'900px'}" [columns]="cols" [value]="pedidosFiltrados" selectionMode="single" [(selection)]="selectedPedido"
      (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="30">
      <ng-template pTemplate="caption">
        Pedidos de Doação
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns" [pSortableColumn]="col.field">
            {{col.header}}
            <p-sortIcon [field]="col.field"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
          <td *ngFor="let col of columns">
            {{rowData[col.field]}}
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary" let-rowData>
        <div style="text-align:left">
        </div>
      </ng-template>
    </p-table>

    <p-dialog header="Pedido de Doação" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" [width]="600"
      [height]="450">
      <div class="ui-g ui-fluid" *ngIf="pedidoDeDoacao">

          Esse pedido de doação é compatível com seu tipo sanguíeneo. Que tal fazer uma doação? ;) Para isso é só comparecer no hemocentro
                  mais próximo portando carteira de identidade e estar acompanhado de um responsável se for de menor. Você pode
                  checar mais requisitos em nossa página de informações.          

        <div class="ui-g">
          <div class="ui-g-6">
            <div class="ui-g-12">

              <div class="ui-g-4">
                <label for="data">Nome:</label>
              </div>
              <div class="ui-g-8">
                {{pedidoDeDoacao.nomeUsuario}}
              </div>
            </div>

            <div class="ui-g-12">
              <div class="ui-g-4">
                <label for="data">Tipo Sanguíneo:</label>
              </div>
              <div class="ui-g-8">
                {{pedidoDeDoacao.tipoSanguineo}}

                

              </div>
            </div>

            

          </div>
        </div>


      </div>
      <p-footer>
      </p-footer>
    </p-dialog>
  </div>

  <div class="ui-g-1"></div>
  <div class="ui-g-1"></div>
  <div class="ui-g-1"></div>
  <div class="ui-g-1"></div>
  <div class="ui-g-1"></div>
  <div class="ui-g-1"></div>
  <div class="ui-g-1"></div>
  <div class="ui-g-1"></div>
  <div class="ui-g-1"></div>
</div>