
  <p-megaMenu [model]="items"></p-megaMenu>

  
    <div class="ui-g">
        <div class="ui-g-4"></div>
        <div class="ui-g-4"><input [(ngModel)]= "solicitacaoSanguinea.nomeUsuario" type="text" size="30" placeholder="Nome Completo" pInputText></div>
        <div class="ui-g-4"></div>
    </div>

    <div class="ui-g">
        <div class="ui-g-4"></div>
        <div class="ui-g-4"><input [(ngModel)]= "solicitacaoSanguinea.cpfUsuario" type="text" size="30" placeholder="CPF" pInputText></div>
        <div class="ui-g-4"></div>
    </div>
      
    <div class="ui-g">
        <div class="ui-g-4"></div>
        <div class="ui-g-4"><p-dropdown [options]="tiposSanguineos" [(ngModel)]="solicitacaoSanguinea.tipoSanguineo"></p-dropdown></div>
        <div class="ui-g-4"></div>
    </div>

    <div class="ui-g">
        <div class="ui-g-4"></div>
        <div class="ui-g-4"><button pButton type="button" label="Confirmar" (click) = "enviarSolicitacao()"  class="ui-button-danger"></button></div>
        <div class="ui-g-4"></div>
    </div>
 
