  
  body {
    background-color:#B22222;
    color: white;
   }

   .mensagem{
       text-align: center;
       color: white;
       font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   }
