<div class="ui-g">
    <div class="ui-g-4">
      <button pButton type="button" label="Voltar" 
      (click) = "voltarPagina()"  class="ui-button-danger"></button>
      </div>
  <p-card title="Reações adversas">
    <p> Durante a doação de sangue e até 24 horas após o procedimento, você pode observar algumas reações adversas relacionadas a alimentação precária, noite mal dormida, ansiedade e estresse, como:
   </p><p>» Formigamento de mãos e pés;
    </p><p>» Suor;
      </p><p>» Vomito;
        </p><p>» Turvação visual;
          </p><p>» Sensação de desmaio, ocasionando, também, quadros raros de convulsões;
            </p><p>» Hematoma no local de aplicação da agulha.
      
  </p>
  </p-card>
  
  </div>