<p-megaMenu [model]="items"></p-megaMenu>
<div class="ui-g">
    <div class="ui-g-4">
      </div>
  <p-card title="Por que doar?">
      <img src="http://www.sp.senac.br/image/20170523163226465.jpg
    " alt="doar" width=800 height=400>
    <p></p>
<p>A doação de sangue é um ato altruísta e totalmente voluntário, que pode salvar vidas. Dependem desse ato solidário pessoas que se submetem a tratamentos planejados e intervenções médicas urgentes de grande porte e complexidade, como transfusões, transplantes e procedimentos oncológicos. O sangue é imprescindível também para que pacientes com doenças crônicas graves - como Doença Falciforme e Talassemia - possam viver por mais tempo e com mais qualidade, além de ser de vital importância para tratar feridos em situações de emergência ou calamidades.</p>
      
  </p-card>
  
  </div>